# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projetos-git\processar-arquivos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
